[Desktop Entry]
Name=SHantilly
Comment=GUI widgets for shell scripts
Exec=shantilly
Icon=io.github.SHantilly
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=dialog;gui;shell;script;qt;
