#!/usr/bin/make -f

export DH_VERBOSE = 1
export QT_SELECT = qt6

%:
	dh $@

override_dh_auto_configure:
	cd src/code/SHantilly && qmake6 SHantilly.pro

override_dh_auto_build:
	$(MAKE) -C src/code/SHantilly

override_dh_auto_install:
	install -D -m 755 src/code/SHantilly/bin/SHantilly debian/SHantilly/usr/bin/SHantilly
	install -D -m 644 packaging/deb/debian/SHantilly.desktop debian/SHantilly/usr/share/applications/SHantilly.desktop

override_dh_auto_clean:
	$(MAKE) -C src/code/SHantilly clean || true
	rm -f src/code/SHantilly/bin/SHantilly

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
