#!/usr/bin/make -f

export DH_VERBOSE = 1
export QT_SELECT = qt6

%:
	dh $@ --buildsystem=cmake

override_dh_auto_test:
	@echo "Skipping tests during packaging"

override_dh_auto_install:
	dh_auto_install
	install -D -m 644 packaging/deb/debian/shantilly.desktop debian/shantilly/usr/share/applications/shantilly.desktop

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
